@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
body {
  display: flex;
  flex-direction: column;
  background-color: #ecf2f8;
  display: flex;
  height: 100vh;
}
body p {
  font-size: 13px;
  font-family: "Barlow Semi Condensed", sans-serif;
}
body h2 {
  font-family: "Barlow Semi Condensed", sans-serif;
}
body #testimonials {
  height: 65%;
  width: 75%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: repeat(2, 0.5fr);
  grid-gap: 20px;
}
body #testimonials .color-white {
  color: white;
}
body #testimonials .color-dark {
  color: #19212e;
}
body #testimonials .testimonial {
  border-radius: 8px;
  padding: 29px;
  height: auto;
}
body #testimonials .testimonial header {
  display: flex;
  align-items: center;
}
body #testimonials .testimonial header .contain-image-profile {
  height: 25px;
  width: 25px;
  background-color: blue;
  border-radius: 50%;
  overflow: hidden;
  border: solid 2px white;
}
body #testimonials .testimonial header .contain-image-profile img {
  width: 100%;
}
body #testimonials .testimonial header .contain-text-profile {
  margin-left: 10px;
}
body #testimonials .testimonial header .contain-text-profile .name-profile {
  margin-top: 0;
  margin-bottom: 2px;
  font-weight: 600;
}
body #testimonials .testimonial header .contain-text-profile .verified {
  margin-top: 0;
  font-size: 11px;
  opacity: 0.5;
}
body #testimonials .testimonial .title-testimonial {
  font-weight: 400;
  font-size: 20px;
  margin-top: 5px;
  z-index: 900;
}
body #testimonials .testimonial .text-testimonial {
  opacity: 0.5;
  margin: 0;
  line-height: 18px;
}
body #testimonials .daniel {
  background-color: #7541c8;
  grid-column: 1/span 2;
  grid-row: 1/span 1;
  position: relative;
}
body #testimonials .daniel figure {
  position: absolute;
  top: -10px;
  right: 33px;
  opacity: 0.5;
}
body #testimonials .jonathan {
  background-color: #48556a;
  grid-column: 3/span 1;
  grid-row: 1/span 1;
}
body #testimonials .jeanette {
  background-color: white;
  grid-column: 1/span 1;
  grid-row: 2/span 1;
  box-shadow: 11px 26px 30px #48556a1a;
}
body #testimonials .jeanette .title-testimonial {
  width: 99%;
}
body #testimonials .patrick {
  background-color: #19212e;
  grid-column: 2/span 2;
  grid-row: 2/span 1;
}
body #testimonials .kira {
  background-color: white;
  grid-column: 4/span 1;
  grid-row: 1/span 2;
  box-shadow: 11px 26px 30px #48556a1a;
}

@media (min-width: 0px) and (max-width: 1255px) {
  body #testimonials {
    height: auto;
    width: 85%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
  }
  body #testimonials .testimonial {
    grid-column: 1/span 1;
  }
  body #testimonials .daniel {
    margin-top: 70px;
    grid-row: 1/span 2;
  }
  body #testimonials .jonathan {
    grid-row: 3/span 1;
  }
  body #testimonials .jeanette {
    grid-row: 4/span 1;
  }
  body #testimonials .patrick {
    grid-row: 5/span 2;
  }
  body #testimonials .kira {
    grid-row: 7/span 2;
    margin-bottom: 70px;
  }
}

/*# sourceMappingURL=style.css.map */
